@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Poppins:wght@400;600;700&display=swap');
@import 'tailwindcss';


button {
    cursor: pointer;
}

/*Mask shadow*/
.mask-shadow {
    -webkit-mask-image: linear-gradient(to right,
            transparent 0%,
            white 15%,
            white 85%,
            transparent 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: linear-gradient(to right,
            transparent 0%,
            white 15%,
            white 85%,
            transparent 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
}

/*Mask bottom*/
.mask-bottom {
    -webkit-mask-image: linear-gradient(to bottom,
            transparent 0%,
            white 10%,
            white 90%,
            transparent 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: linear-gradient(to bottom,
            transparent 0%,
            white 10%,
            white 90%,
            transparent 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
}

/*Fonts*/
.cinzel {
    font-family: 'Cinzel', serif;
}

.cormorant {
    font-family: 'Cormorant Garamond', serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}


/*Cinzel => headings/titles/ui*/
/*poppins  => sections/infos*/
/*Cormorant => for quotes*/

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #111;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #111 transparent;
}