@import "tailwindcss";

.font-Poppins {
  font-family: "Poppins", sans-serif;
}

.font-Inter {
  font-family: "Inter", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

/* Button Anim */
button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  transition: left 0.5s ease;
}

button:hover::before {
  left: 100%;
}


/* Floating Anim */
@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }
}


.float-slow {
  animation: float 6s ease-in-out infinite;
}

.float-medium {
  animation: float 4s ease-in-out infinite;
}

.float-fast {
  animation: float 2s ease-in-out infinite;
}

/* Custom Navbar Scrollbar */
.navbar-scroll::-webkit-scrollbar {
  height: 2px;
  /* thin horizontal scrollbar */
}

.navbar-scroll::-webkit-scrollbar-track {
  background: hsla(186, 54%, 61%, 0.071);
  /* dark background */
  border-radius: 100%;
}

.navbar-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #3ac3ed, #000000, #0187a8);
  border-radius: 9999px;
  transition: background 0.3s ease;
}

.navbar-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to right, #2900a5, #111111, #004a55);
}